# Data handling
numpy==1.24.4
pandas==2.1.4
scikit-learn==1.4.1
tqdm==4.66.2

# Deep Learning Framework
torch==2.1.0
torchvision==0.16.0

# Age Annotation
deepface==0.0.79

# Streamlit UI
streamlit==1.33.0

# Visualization
matplotlib==3.8.2
seaborn==0.13.2
opencv-python==4.8.0.76
opencv-contrib-python==4.8.0.76

# Grad-CAM
grad-cam==1.4.7

# PDF Report Generation
fpdf==1.7.2

# Image processing
Pillow==10.2.0
